@charset "utf-8";

h1{
    /*見出し背景に色*/
    font-size: 42px;
    background-color: antiquewhite;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.center{
    /*中央揃え*/
    text-align: center;
}

body{
    /*背景にグラデーション画像*/
    background-image: url(../img/orange1.jpg);
    background-repeat: repeat-x
}


@charset "utf-8";

h1{
    /*見出し背景に色*/
    font-size: 42px;
    background-color: antiquewhite;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.center{
    /*中央揃え*/
    text-align: center;
}

body{
    /*背景にグラデーション画像*/
    background-image: url(../img/orange1.jpg);
    background-repeat: repeat-x
}


.link:visited{
  color:cadetblue
}

.link:hover{
  color: darkblue;
}

#top2{
    text-align: end
}