@charset "utf-8";

h1{
    /*見出し背景に色*/
    font-size: 42px;
    background-color: antiquewhite;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.center{
    /*中央揃え*/
    text-align: center;
}

body{
    /*背景にグラデーション画像*/
    background-image: url(../img/orange1.jpg);
    background-repeat: repeat-x
}


@charset "utf-8";

h1{
    /*見出し背景に色*/
    font-size: 42px;
    background-color: antiquewhite;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.center{
    /*中央揃え*/
    text-align: center;
}

body{
    /*背景にグラデーション画像*/
    background-image: url(../img/orange1.jpg);
    background-repeat: repeat-x
}

.size{
    font-size: 20px;
}

#pink{
    background: linear-gradient(transparent 60%, #ff66ff 60%);
}

#green{
    background: linear-gradient(transparent 60%, #66FFCC 60%);
}

#green2{
    background: linear-gradient(transparent 60%, #66FFCC 60%);
}

#yellow{
    background: linear-gradient(transparent 60%, #FFFF00 60%);
}

#red{
    background: linear-gradient(transparent 60%, #FF0000 60%);
}


.link:visited{
  color:cadetblue
}

.link:hover{
  color: darkblue;
}